.DS_Store

## vs code
.vscode

## floyd
.floydexpt

## cifar database set
cifar-10-batches-py/
cifar-10-python.tar.gz

## tensorflow
tensorflow/

## pickle file
*.p

## pyc
__pycache__
*.pyc

## lab
lab

## submit
dlnd_image_classification.html
dlnd_image_classification.py
image-classification.zip

## saved model and trainning data
image_classification.data*
image_classification.index
image_classification.meta

## notebook checkpoint
checkpoint
.ipynb_checkpoints
